management:
  health:
    livenessstate.enabled: true
    readinessstate.enabled: true

  security.enabled: false

  server.port: 3001

  tracing.sampling.probability: 1.0

  endpoints:
    web.exposure.include: '*'
    jmx.exposure.include: '*'

    shutdown:
      enabled: true
      access: UNRESTRICTED

    loggers.access: UNRESTRICTED

    health:
      enabled: true
      show-details: ALWAYS

    probes.enabled: true

    cors:
      allowed-origins: '*'
      enabled-by-default: false

    default.access: UNRESTRICTED

server:
  port: 9090
  shutdown: GRACEFUL
  http2.enabled: true

  tomcat:
    connection-timeout: 20m
    keep-alive-timeout: 20m
    max-http-form-post-size: 50MB
    max-swallow-size: 50MB
    max-keep-alive-requests: 3000

  servlet.session.timeout: 10m

  compression:
    enabled: true
    mime-types: >
      text/html,text/xml,text/plain,text/css,text/javascript,
      application/javascript,application/json
    min-response-size: 1024

spring:
  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    driver-class-name: ${DB_DRIVER:oracle.jdbc.OracleDriver}
    type: oracle.ucp.jdbc.PoolDataSourceImpl

    # Optional: UCP (Universal Connection Pool) configuration
    oracleucp:
      connection-pool-name: ${DB_CONNECTION_POOL_NAME:UCPSampleApplication}
      connection-factory-class-name: ${DB_CONNECTION_FACTORY_CLASS:oracle.jdbc.pool.OracleDataSource}
      initial-pool-size: 5
      min-pool-size: 5
      max-pool-size: 20
      timeout-check-interval: 60
      inactive-connection-timeout: 300

  jpa:
    database-platform: org.hibernate.dialect.OracleDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto: none   # <-- create / create-drop / update / validate / none

  application.name: ${MICROSERVICE}

  profiles.active: ${ENV:dev}

  main:
    allow-circular-references: false
    lazy-initialization: false

  thread.virtual.enabled: true

  cloud:
    discovery:
      service-id: ${MICROSERVICE}
      enabled: true

  
logging:


  pattern.level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

  level:
    root: INFO
    io.project: INFO
